<article
  class="flex cursor-pointer bg-neutral-900 transition-colors duration-200 hover:bg-neutral-800"
  [class]="containerClass()"
>
  @if (imageUrl()) {
    <img [src]="imageUrl()" [alt]="title()" [class]="imageClass()" />
  }

  <div class="flex flex-col" [class]="textWrapperClass()">
    <h3 class="truncate font-semibold text-white" [class]="titleSize()">{{ title() }}</h3>
    @if (subtitle()) {
      <p class="truncate text-neutral-400" [class]="subtitleSize()">{{ subtitle() }}</p>
    }
  </div>
</article>
