<body class="grid grid-cols-[436px_1fr] grid-rows-[64px_1fr_88px] h-dvh bg-black overflow-hidden">
    <header class="col-span-2 bg-black"></header>
    <aside class="mx-2 rounded-lg bg-[#121212] overflow-y-auto no-scrollbar">
        <h1 class="text-7xl text-white">Playlist</h1>
        <h1 class="text-7xl text-white">Playlist</h1>
        <h1 class="text-7xl text-white">Playlist</h1>
        <h1 class="text-7xl text-white">Playlist</h1>
        <h1 class="text-7xl text-white">Playlist</h1>
        <h1 class="text-7xl text-white">Playlist</h1>
        <h1 class="text-7xl text-white">Playlist</h1>
        <h1 class="text-7xl text-white">Playlist</h1>
        <h1 class="text-7xl text-white">Playlist</h1>
        <h1 class="text-7xl text-white">Playlist</h1>
        <h1 class="text-7xl text-white">Playlist</h1>
        <h1 class="text-7xl text-white">Playlist</h1>
        <h1 class="text-7xl text-white">Playlist</h1>
        <h1 class="text-7xl text-white">Playlist</h1>
        <h1 class="text-7xl text-white">Playlist</h1>
        <h1 class="text-7xl text-white">Playlist</h1>
        <h1 class="text-7xl text-white">Playlist</h1>
    </aside>
    <main class="mr-2 rounded-lg bg-[#1F1F1F] overflow-y-auto no-scrollbar">
        <div class="h-68 w-68 bg-black m-2">Soy una caja</div>
        <div class="h-68 w-68 bg-black m-2">Soy una caja</div>
        <div class="h-68 w-68 bg-black m-2">Soy una caja</div>
        <div class="h-68 w-68 bg-black m-2">Soy una caja</div>
        <div class="h-68 w-68 bg-black m-2">Soy una caja</div>
        <div class="h-68 w-68 bg-black m-2">Soy una caja</div>
        <div class="h-68 w-68 bg-black m-2">Soy una caja</div>
    </main>
    <footer class="col-span-2 bg-black"></footer>
</body>